header{
    background-color: rgb(197, 197, 197);
    padding: 20px 40px;
}

main{
    background-color: bisque;
    padding: 20px 40px;
}

footer{
    background-color: darkgray;
    padding: 20px 40px;
}